<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>RodSound-Debug.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>RodSound-Release.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>Simulator-Debug.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Simulator-Release.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Visualizer.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>715D608D18A95941008A9785</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>715D60A918A95941008A9785</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>71CA570A1946398F0076A3F2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>71CA57241946398F0076A3F2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>71CA574419463BC30076A3F2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>71CAE63518C78B7A002C9FD3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8D1107260486CEB800E47090</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
